/* Делаем все колонки категорий одинаковой высоты */
.category-column {
    display: flex;
    flex-direction: column;
    height: 100%; /* Занимает всю доступную высоту */
}

/* Контейнер для подтем, прижатый к нижней части */
.subtopics-container {
    margin-top: auto; /* Прижимаем к нижней части */
    padding-top: 20px; /* Добавляем отступ сверху для разделения */
}
